#vraagDatum {
   text-align: right;
}

body {
    background-color: tan;
}

.eersteTitel {
    color: blue;
    position: absolute;
    top: 3px;
    right: 35vw;
    text-decoration: underline;
}

.container {
    position: absolute;
    top: 25px;
    right: 5px;
}

#contact {
    position: absolute;
    top: 25px;
    left: 5px;
}
     

